/* Arquivo de folhas de estilos */


a, button {
	cursor: pointer;
}

textarea {
	
}

.conteudo {
	margin-top: 80px;
	min-height: 450px;
}

.logomarca {
	margin-top: -15px;
}

.icon-user {
	margin-top: 12px;
}

.active-menu {	
	background-color: #CFCFCF;
}

.centralizarModal {
	margin-top: 10%;
}

.nomeUsuarios {
	text-color: black;
	font-weight: bold;
}

a[disabled="true"] {
    pointer-events: none;
	color: black;
}