/* Arquivo de folhas de estilos */


a, button {
	cursor: pointer;
}

textarea {
	
}

.conteudo {
	margin-top: 80px;
	min-height: 450px;
}

.logomarca {
	margin-top: -15px;
}

.icon-user {
	margin-top: 12px;
}

.active-menu {	
	background-color: #CFCFCF;
}

.centralizarModal {
	margin-top: 10%;
}

