@(user: Usuario, tema: models.Tema)

@main("Portal do Leite"){

@modalAdicionarDica()
<br /> <br /> <br /> <br />
<div class="panel panel-info ">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-10 ">
			<h1 class="panel-title" id ="temaSelecionado">@tema.getNome()</h1>
			</div>
			
			<div class="col-md-1.5 " >
			<button type="button" class="btn-info " data-toggle="modal" data-target="#adicionarDica" >Adicionar dica</button>
			</div>
			
		</div>
	</div>
	
	<div class="panel">	
		<div class="col-md-5 col-offset-1">
			<select class="selectNivelDificuldade" data-max-options="1">
				<option>Nível de Dificuldade do Tema</option>
			    <option>Muito Fácil</option>
			    <option>Fácil</option>
			    <option>Normal</option>
			    <option>Difícil</option>
			    <option>Muito Difícil</option>
			</select>
		</div>
		
		<div class="col-md-2 col-md-offset-1">
			<label>Média</label>
			<div id="campoMedia">200</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<label>Mediana</label>
			<div id="campoMediana">200</div>
		</div>	
	</div>		
</div>


<div class="panel col-md-12 ">
	@if(tema.isEmpty()){
		<p>Nenhuma dica para este tema.</p>	
	}else{
		@for(dica <- tema.getDicas()){
				<div class="nomes" >@user.getNome()</div>
				@Html(dica.exibir())
			
				<a href="#" >Concordar</a> <img src="/assets/images/curtir_icon.jpg">@dica.getQuantConcordancia()&nbsp;&nbsp;
				<a href="#denunciar" >Discordar</a> <img src="/assets/images/curtir_icon.jpg">@dica.getQuantDiscordancia()
				<a href="#" >Denunciar </a>
				<legend></legend>			
		}	
	}
</div>

<!-- Modal  Denunciar dica -->

<div id="#denunciar"  class="modal fade "> <!--1-->
    <div class="modal-dialog centralizarModal"><!--2-->
        <div class="modal-content"><!--3-->
            <div class="modal-header"><!--4-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Informe-nos o que está acontecendo</h4>				
            </div><!--4-->
            
        	<p class="text-warning"><small>Por que você não quer ver essa informação? </small></p>
            
            <div class="modal-body"> <!--5-->
            	<form class="form-horizontal" method="POST" role="form" id="addDicaSemDificuldade" action="/addDicaSemDificuldade">
            		<input type="radio" name="informacao" value="ofensivo" checked>A dica possui conteúdo ofensivo.
            		<br>
					<input type="radio" name="informacao" value="antietico">A dica possui conteúdo antiético.
				</form> 
				
             </div> <!--5-->	
            
            <div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			    <input type="submit" class="btn btn-primary enviarForm" form="denunciarDica" value="Adicionar" />
			</div>	
			
         </div> <!--3-->
    </div> <!--2-->
</div><!--1-->



}