@(message: String)

@main("Portal do Leite") {

	<div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
			<div class="container">
				<div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> <span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Portal do Leite</a>
				</div>
				
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/sobre">Sobre</a></li>
						<li><a href="/contato">Contato</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<button class="btn btn-danger navbar-btn" onclick="location.href='/logout'">
							<span class="glyphicon glyphicon-log-out"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
	</div>	
     
<div class="container">
	<div class="row">
		<!-- Temas da disciplina -->
		<div class="col-md-3">
			<br /> <br /> <br /> <br />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Temas da disciplina SI1</h3>
				</div>
				
				<div>
					<ul class="nav" id="main-menu">
						<li>
			
						<a  href="">Análise x Projeto</a>
						
						</li>
						<li>
							<a  href="">Orientação a Objetos</a>
						</li>
						<li>
							<a  href="">Padrões de Projeto GRASP</a>
						</li>
						<li>
							<a   href="">Padrões de Projeto Gof</a>
						</li>	
						<li>
							<a  href="">Arquitetura de Software</a>
						</li>
						<li>
							<a  href="">Play Framework</a>
						</li>		
						<li>
							<a  href="">Java Script </a>
						</li>		
						<li>
							<a  href="">HTML + CSS + Bootstrap </a>
						</li>		
						<li>
							<a  href="">Heroku </a>
						</li>		
						<li>
							<a  href="">Laboratórios </a>
						</li>		
						<li>
	 						<a  href="">Minitestes </a>
						</li>
						<li>
							<a  href="">Projeto </a>
						</li>
					</ul>
				</div>
			</div>
			<button type="button" class="btn btn-info btn-lg btn-block">Nova dica</button>		
		</div>
		
		
		
		<div class="row">
			
			<div class="col-md-5">	
				<br /> <br /> <br /> <br />
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Nome do tema aqui</h3>
					</div>
					<div>
					<ul>
					<!--Se tema.getDicas() == 0 -->
						<li> Não há nenhuma dica para o tema. </li>
					
					<!-- Se existir metas exibir  a lista -->
					</ul>	
					</div>
   				</div>
			</div>
		</div>	
</div>
}