@(form: Form[Usuario], mensagemErro: String, mensagem: String)

@main("Login"){
		<div class="navbar navbar-default navbar-top2  navbar-fixed-top" role="navigation">
			<a class="navbar-brand" href="/">Portal do Leite</a>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> <span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/sobre">Sobre</a></li>
						<li><a href="/contato">Contato</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li>
						<b class="navbar-text">Ainda não possui cadastro?</b>
						<button class="btn btn-info navbar-btn" onclick="location.href='/cadastro'">Cadastre-se</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<br /> <br /> <br /> <br />
		<div class="row">
			<div class="col-md-3">
				<!-- Vazio -->
			</div>

			<div class="col-md-6">
				@if(mensagemErro != null && !mensagemErro.trim().equals("")) {
				<div class="alert alert-danger">
					<p>@(mensagemErro)</p>
				</div>
			} 

			@if(mensagem != null && !mensagem.trim().equals("")) {
			<div class="alert alert-success">
				<p>@(mensagem)</p>
			</div>
		}

		<div class="panel panel-default">
			<div class="panel-heading">Login</div>
			<div class="panel-body">
				@helper.form(routes.AutenticacaoController.autenticar) {
				<form role="form">
					<div class="form-group">
						<input type="email" class="form-control" name="email" value='@form("email").value' placeholder="Digite seu email" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="senha" placeholder="Digite sua senha" required>
					</div>
					<button type="submit" class="btn btn-primary">Entrar</button>
				</form>
			}
		</div>
	</div>
</div>
<div class="col-md-3">
	<!-- Vazio -->
</div>
</div>
</div>
}