<!-- Modal - adicionar metas -->


<div id="adicionarDica" class="modal fade"> <!--1-->
    <div class="modal-dialog"><!--2-->
        <div class="modal-content"><!--3-->
            <div><!--4-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title">Adicionando dica</h1>
				<ul class="nav nav-tabs">
					<li><a href="#">O que você precisa saber</a></li>
					<li><a href="#">Conselho</a></li>
					<li><a href="#">Disciplinas anteriores</a></li>
					<li><a href="#">Material útil</a></li></ul>
            </div><!--4-->
		
            <div class="modal-body"> <!--5-->
			</div> <!--5-->
			
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Adicionar</button>
			</div>
        </div> <!--3-->
    </div> <!--2-->
</div><!--1-->

